/* Colors for welcome banner - background-color: #e7effd; color: #4a89f3;  */

.welcome-style {
    /*   background-color: #e7effd; */
    background-color: #fbebe9;
    color: #4a89f3;
    padding: 15px;
}

.smile-style {
    color: #0066cc;
    font-size: 16px;
}


.bg-photo {
    background-position: center;
    background-image: url("../images/hippo.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 480px;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/* Using a color from Google Maps scheme color (https://www.schemecolor.com/google-maps-colors.php) for background */

.chart-box-style {
    /*    background-color: #EDF3FE; */
    background-color: #fbebe9;
    border: solid 1px;
   border-color: #C9DCFB; 
    color: #0066cc;
    min-width: 300px;
    height: 250px;
}

/* The heading above the chart is pushing the chart down. Move it up 20 pixels */

.chart {
    position: relative;
    top: -80px;
}


.map-style {
    /*    background-color: #EDF3FE; */
    background-color: #fbebe9;
    border: solid 1px;
    border-color: #C9DCFB;
    color: #0066cc;
    min-width: 300px;
    height: 360px;

}

/* P-style - background color: #6fa1f6; / color: #e7effd; */

.p-style {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
    /*    background-color:  #6fa1f6; */
    /*    background-color: 	 #08784f; */
    /*    background-color: #09905e; */
    background-color: #DD4B3E;
    color: #e7effd;
    font-weight: normal;
}


.text-style {
    color: #0066cc;

}



.map-dub-cape {
    height: 200px;
    width: 151px;
    padding: 0px;
    margin: auto;
}

.map-dub-cape-tn-style {
    height: 396;
    width: 300;
}



div#map {
    min-height: 360px;
    max-width: 100%;
    position: relative;
}

.lodging-style {
    width: 200px;
    height: 300px;
}


      

/* Footer details.     */

.footer-style {
    color: #e7effd;
    /*    background-color: #4a89f3; */
    background-color: #DD4B3E;
    margin-bottom: 0px;
    text-align: center;
}


.footer-padding {
    padding-top: 15px;
}

/*  An extra 20px will be added to the bottom padding for each section of the footer. 
   This is to create a space between each section when shown on the mobile, to make it easier to read. */

.footer-style-pb {
    /*    padding-bottom: 5px; */
}
