

.navbar-style {
    background-color: #db4437;
    color: #e7f0fe;
    font-size: 18px;
}

.menu-padding {
    padding-left: 100px;
}

/*    Home icon in navigation bar  */

.home-icon a i {
    display: block;
    color: #0d5bd9;
    font-size: 26px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.home-icon a i:hover {
    color: #f4b400;
}

/* The links in the navigation bar */

.menu-nav-links a {
    width: 100%;
    text-decoration: none;
    color: #e7f0fe !important;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.menu-nav-links a:hover {
    background-color: #f4b400;
}

/* This class will have  the same color for text and bg initially. 
   I will add "user-message-style-bg" when fading in the message  */

.user-message-style {
    background-color: #e7f0fe;
    color: #e7f0fe;
    font-size: 18px;
    font-style: italic;
    padding:5px;
}

.user-message-style-bg {
    background-color: #0d5bd9;
    
}



.logo {
    background: url("../images/dublintocapetown-logo.jpg");
    min-height: 64px;
    min-width: 150px;
    border-style: outset;
    border-width: 1px;
    border-color: #9fc1f9;
    background-position: bottom;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


.main-section {}




.set-position {
    position: relative;
    top: 80px;
}

/* To make that on taller screens, the footer on the contact page always be at the bottom of the screen.
    The footer is 184px in height. 80px is added for the fixed header. 
    Extra padding is added to the top of the screen on taller screens, to centralise the contact boxes  */

.bg-photo {
    background-position: center;
    background-image: url("../images/hippo.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

@media(min-height:800px) {
    .bg-photo {
        height: calc(100vh - 469px);

    }
}

.border-setting {
    border: solid 1px #87b2f8;

}

/* I am using the Google Maps logo colors from https://brandpalettes.com/google-colors/) for background as starting colors */

/* and makeing them a few shades lighter using the color picker (https://www.w3schools.com/colors/colors_picker.asp) */

.chart-box-style {
    background-color: #e7f0fe;
    color: #0066cc;
    height: 500px;
}

.dc-chart {
    width: 100%;
}

svg {
    height: 470px;
    width: 100%;
    position: relative;
 /*   border: solid 1px #87b2f8; */

}

/* The heading above the chart is pushing the chart down. Move it up 20 pixels */

.filter-heading-style  {
    position: relative;
    color: #e7f0fe;
    margin:0px;
    opacity: 1;
    font-style: italic;
    font-weight: Bold;
    padding:3px 0;
}

.gallery-heading-style {
    position: relative;
    background-color: #0d5bd9;
    color: #e7f0fe;
    margin:0px;
    opacity: 1;
    font-style: italic;
    font-weight: Bold;
    padding:3px 0;
    
}

.gallery-bg {
   background-color: #e7f0fe; 
   
}


.map-style {
    border-left: solid 1px #87b2f8; 
}

/* P-style - background color: #6fa1f6; / color: #e7effd; */

.p-style {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
    /*    background-color:  #6fa1f6; */
    /*    background-color: 	 #08784f; */
    /*    background-color: #09905e; */
    background-color: #4285F4;
    color: #e7effd;
    font-weight: normal;
}


.text-style {
    color: #0066cc;

}



div#map {
    max-width: 100%;
    position: relative;
    /*   height: calc(100vh - 216px); */
    height: 500px;
}

.lodging-style {
    width: 200px;
    height: 300px;
}

.photo-style {
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    width: 75px;
    height: 100px;
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding:15px;
    
}

.image-padding {
    padding: 5px;
}

.image-size {
    height: 200px;
    width: 100%;
}

/* Photo copied from Hotel Verde website */

.hotelverde {
    background: url("../images/hotelverde.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Photo copied from Quayside Hotel website */

.hotelquayside {
    background: url("../images/quaysidehotel.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Photo copied from Protea Hotel website */

.hotelprotea {
    background: url("../images/hotelprotea.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Photo copied from Knysna Elephant Park website */

.lodgeknysna {
    background: url("../images/lodgeknysna.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Photo copied from Milkwood Manor website */

.lodgemilkwood {
    background: url("../images/lodgemilkwood.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.lodgeglenafric {
    background: url("../images/lodgeglenafric.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*  Photo copied from Tripadvisor*/
.restcampspekboom {
    background: url("../images/restcampspekboom.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*  Photo copied from Google images*/
.restcamplowersabie {
    background: url("../images/restcamplowersabie.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Photo copied from Knysna Elephant Park website */

.safariknysnapark {
    background: url("../images/safariknysnapark.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Photo copied from Knysna Elephant Park website */

.safariaddoelephantpark {
    background: url("../images/safariaddoelephantpark.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.safarikrugerpark {
    background: url("../images/safarikrugerpark.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.safariglenafric {
    background: url("../images/safariglenafric.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.safarilionandsafari {
    background: url("../images/safarilionandsafari.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.safaridewildtcheetah {
    background: url("../images/safaridewildtcheetah.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.safarizulunyala {
    background: url("../images/safarizulunyala.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.safariukutulu {
    background: url("../images/safariukutulu.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Chapmans Peak - image copied from google images */

.sightseechapmanspeak {
    background: url("../images/sightseechapmanspeak.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Cape of Good Hope - image copied from google images */

.sightseecapeofgoodhope {
    background: url("../images/sightseecapeofgoodhope.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Stellenbosh city - image copied from google images */

.sightseestellenbosch {
    background: url("../images/sightseestellenbosch.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


/* Marianne Wine Estate - image copied from marianne wine estates website */

.sightseemariannewine {
    background: url("../images/sightseemariannewine.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Marianne Wine Estate - image copied from marianne wine estates website */

.sightseeplettenbergbay {
    background: url("../images/sightseeplettenbergbay.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Nature's Valley - image copied from google images */

.sightseenaturesvalley {
    background: url("../images/sightseenaturesvalley.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Port Elizabeth - image copied from google images */

.sightseeportelizabeth {
    background: url("../images/sightseeportelizabeth.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* Johannesburg - image copied from google images */

.sightseejohannesburg {
    background: url("../images/sightseejohannesburg.jpg");
    border-style: inset;
    border-width: 3px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}



.photo-links {
    font-style: italic;
    font-size: 13px;
    
}


/* Footer details.     */

.footer-style {
    color: #e7effd;
    /*    background-color: #4a89f3; */
    background-color: #dd4b3e;
    margin-bottom: 0px;
    text-align: center;
}


.footer-padding {
    padding-top: 15px;
}

/*  An extra 20px will be added to the bottom padding for each section of the footer. 
   This is to create a space between each section when shown on the mobile, to make it easier to read. */

.footer-style-pb {
    /*    padding-bottom: 5px; */
}
