/* Colors for welcome banner - background-color: #e7effd; color: #4a89f3;  */

.navbar-style {
    background-color: #db4437;
    color: #e7f0fe;
    font-size: 18px;
}

.menu-padding {
    padding-left: 100px;
}

/*    Home icon in navigation bar  */

.home-icon a i {
    display: block;
    color: #0d5bd9;
    font-size: 26px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.home-icon a i:hover {
    color: #f4b400;
}

/* The links in the navigation bar */

.menu-nav-links a {
    width: 100%;
    text-decoration: none;
    color: #e7f0fe !important;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.menu-nav-links a:hover {
    background-color: #f4b400;
}

/* This class will have  the same color for text and bg initially. 
   I will add "user-message-style-bg" when fading in the message  */

.user-message-style {
    background-color: #e7f0fe;
    color: #e7f0fe;
    font-size: 18px;
    font-style: italic;
    padding:5px;
}

.user-message-style-bg {
    background-color: #0d5bd9;
    
}


.highlight {
    background-color: pink;
}


.logo {
    background: url("../images/dublintocapetown-logo.jpg");
    min-height: 64px;
    min-width: 150px;
    border-style: outset;
    border-width: 1px;
    border-color: #9fc1f9;
    background-position: bottom;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


.main-section {}




.set-position {
    position: relative;
    top: 80px;
}

/* To make that on taller screens, the footer on the contact page always be at the bottom of the screen.
    The footer is 184px in height. 80px is added for the fixed header. 
    Extra padding is added to the top of the screen on taller screens, to centralise the contact boxes  */

.bg-photo {
    background-position: center;
    background-image: url("../images/hippo.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

@media(min-height:800px) {
    .bg-photo {
        height: calc(100vh - 469px);

    }
}

.border-setting {
    border: solid 1px #87b2f8;

}

/* I am using the Google Maps logo colors from https://brandpalettes.com/google-colors/) for background as starting colors */

/* and makeing them a few shades lighter using the color picker (https://www.w3schools.com/colors/colors_picker.asp) */

.chart-box-style {
    background-color: #e7f0fe;
    color: #0066cc;
    height: 500px;
}

.dc-chart {
    width: 100%;
}

svg {
    height: 470px;
    width: 100%;
    position: relative;
 /*   border: solid 1px #87b2f8; */

}

/* The heading above the chart is pushing the chart down. Move it up 20 pixels */

.filter-heading-style  {
    position: relative;
    color: #e7f0fe;
    margin:0px;
    opacity: 1;
    font-style: italic;
    font-weight: Bold;
    padding:3px 0;


}


.map-style {
    border-left: solid 1px #87b2f8; 
}

/* P-style - background color: #6fa1f6; / color: #e7effd; */

.p-style {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
    /*    background-color:  #6fa1f6; */
    /*    background-color: 	 #08784f; */
    /*    background-color: #09905e; */
    background-color: #4285F4;
    color: #e7effd;
    font-weight: normal;
}


.text-style {
    color: #0066cc;

}



div#map {
    max-width: 100%;
    position: relative;
    /*   height: calc(100vh - 216px); */
    height: 500px;
}

.lodging-style {
    width: 200px;
    height: 300px;
}




/* Footer details.     */

.footer-style {
    color: #e7effd;
    /*    background-color: #4a89f3; */
    background-color: #DD4B3E;
    margin-bottom: 0px;
    text-align: center;
}


.footer-padding {
    padding-top: 15px;
}

/*  An extra 20px will be added to the bottom padding for each section of the footer. 
   This is to create a space between each section when shown on the mobile, to make it easier to read. */

.footer-style-pb {
    /*    padding-bottom: 5px; */
}
